.main {
  margin: 10px 100px;
  display: flex;
  justify-content: center;
}

.loginmain{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title{
  width: 100%;
  text-align: center;
}

.loginitem{
  width: 75%;
}

.loginform{
  width: 250px;
}

.loginbutton{
}

.contentheader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}


.contentmain{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contentmessages{
  display: flex;
  flex-flow: "column";
  flex-wrap: wrap;
  width: 100%;
  border-width: 1em;
  margin-bottom: 80px;
}

.contentmessageitem{
  padding: 5px 10px;
  margin-bottom: 10px;
  min-height: 30px;
  width: 100%;
  border-width: 5px;
  border-color: black;
  background-color: aliceblue;

}